{% extends "layout.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
<div id="main">
	<section>
		<div class="header-wrapper">
			<h1>CUBARI</h1>
			<h2>While Mangadex is dead.</h2>
		</div>
		<div class="search-wrapper">
			<div class="search-box">
				<div class="cubari-logo"></div>
				<input type="text" id="search" name="cubariInput" placeholder="Paste an Imgur link, the numbers, or git.io link..."><button class="ico-btn icon-ri" id="search-button"></button>
			</div>
			<div id="status"></div>
		</div>
	</section>
</div>
<footer>
	<a class="guya" href="https://guya.moe/"><img src="{% static 'img/gmprj.png' %}" /></a>
	<div class="history-scroller" onclick="window.scrollTo({top: document.getElementById('history').offsetTop, behavior: 'smooth'})">YOUR HISTORY</div>
</footer>
<script src="{% static 'js/main.js' %}{{ version_query }}"></script>
<script>
	document.querySelector('.header-wrapper h2').innerHTML =
	([
		'That one cool web manga reader.',	
		`${Math.round((new Date().getTime() - new Date("07/15/2019").getTime()) / (1000 * 3600 * 24))} days of uptime.`,
		`No accounts, no problems.`,
		`Read Kaguya.`,
		`For legal reasons, we don't host <i>anything</i>.`,
		`The reader could be better.`,
		`Did you know that the reader has, like, options and stuff?`,
		`<i>Advanced.</i>`,
		`We gotchu, Mangadex.`,
		`Everyone get on the lifeboats, the main ship is down!`,
		`We're under heavy load, please come back later...<br>Just kidding.`,
	])[Math.round(Math.random()*10)]
</script>
</div>
<div id="history">
{% endblock %}
