{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#2b2f33" />
	<title>{{ series_name }} | Chapter {{ chapter_number }} | {{ brand.name }}</title>
	<meta name="twitter:title" content="{{ series_name }} | Chapter {{ chapter_number }} | {{ brand.name }}">
	<meta property="og:title" content="{{ series_name }} | Chapter {{ chapter_number }} | {{ brand.name }}">
	<meta name="description" content="Read chapter {{ chapter_number }} of {{ series_name }} | {{ brand.name }}">
	<meta name="twitter:card" content="summary">
	{% if first_party %}
	<meta property="og:description"
	content="Read chapter {{ chapter_number }} of {{ series_name }} | {{ brand.name }}">
	<meta name="twitter:description"
	content="Read chapter {{ chapter_number }} of {{ series_name }} | {{ brand.name }}">
	<meta property="og:image" content="{{ brand.image_url }}">
	<meta name="twitter:image" content="{{ brand.image_url }}">
	<meta name="author" content="{{ author_name }}">
	{% else %}
	<meta property="og:description" content="Read the {{ series_name }} manga series.">
	<meta name="twitter:description" content="Read the {{ series_name }} manga series.">
	<meta property="og:image" content="{{ cover }}">
	<meta name="twitter:image" content="{{ cover }}">
	{% endif %}
	<meta property="og:url" content="{{ absolute_url }}">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{% static 'css/pickr.css' %}{{ version_query }}"/>
	<link rel="canonical" href="{{ absolute_url }}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/reader.css' %}{{ version_query }}">
	{% include "meta.html" %}
	{% include "history.html" %}
</head>
<script>
	// Seed the values from the template for the reader API calls
	const BASE_API_PATH = "{{ api_path }}";
	const IS_FIRST_PARTY = {{ first_party|yesno:"true,false,false" }};
	const IS_INDEXED = {{ indexed|yesno:"true,false,false" }};
	const IMAGE_PROXY_URL = "{{ image_proxy_url }}";
</script>
<body>
	{% include "tracking.html" %}
	<main id="rdr-main" tabindex="-1"></main>
	<div class="Tooltippy"></div>
	<div class="Tooltippy Error"></div>
	<div class="LodaManager hidden" tabindex="-1"></div>
</body>
<script src="{% static 'js/pickr.min.js' %}{{ version_query }}"></script>
<script src="{% static 'js/jszip.min.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/ResizeSensor.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/alg_lib.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/UI2.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/ReaderAPI.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/Settings.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/ThemeHandler.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/UI_Loda.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/UI_ReaderSelector.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/UI_ReaderImage.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/UI_ReaderImageWrapper.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/UI_ReaderImageViewer.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/UI_Reader.js' %}{{ version_query }}"></script>
<script type="text/javascript" src="{% static 'js/Cubari.js' %}{{ version_query }}"></script>
<!-- <script type="text/javascript" src="{% static 'js/init2.js' %}{{ version_query }}"></script> -->
<script type="text/javascript">
	// History tagging
	tag();
</script>
</html>
