{% load static %}
<!DOCTYPE html>
<html class="{{ template }} h-100" lang="en" class="bg-dark h-100">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}{{ version_query }}">
	<link defer rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}{{ version_query }}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}{{ version_query }}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}{{ version_query }}">
	<link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/alg_lib.js' %}{{ version_query }}"></script>
	<script defer src="{% static 'js/bootstrap.min.js' %}"></script>
	<link rel="canonical" href="{{ absolute_url }}" />
	<link rel="manifest" href="{% static 'manifest.json' %}{{ version_query }}">
	<link rel="shortcut icon" sizes="128x128" type="image/png" href="{% static 'logo_small.png' %}{{ version_query }}" defer />
	<link rel="icon" sizes="128x128" type="image/png" href="{% static 'logo_small.png' %}{{ version_query }}" />
	<link rel="icon" sizes="512x512" type="image/png" href="{% static 'logo.png' %}{{ version_query }}" />
	<link rel="apple-touch-icon" sizes="128x128" href="{% static 'safari-touch-128x128.png' %}{{ version_query }}" />
	<link rel="apple-touch-icon" sizes="256x256" href="{% static 'safari-touch-256x256.png' %}{{ version_query }}" />
	<link rel="apple-touch-icon" sizes="512x512" href="{% static 'safari-touch-512x512.png' %}{{ version_query }}" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="theme-color" content="#2b2f33" />
	<meta name="format-detection" content="telephone=no">
  {% block meta %}
  {% if page_title %}
  <title>{{ page_title }} | {{ brand.name }}</title>
  {% else %}
	{% if template == "home" %}
	  <title>{{ home_brand.name }}</title>
	  <meta name="twitter:description" content="{{ home_brand.description }}" />
      <meta property="og:description" content="{{ home_brand.description }}" />
      <meta name="description" content="{{ home_brand.description }}">
	{% else %}
  	  <title>{{ brand.name }}</title>
	  <meta name="twitter:description" content="{% firstof page_description brand.description %}" />
      <meta property="og:description" content="{% firstof page_description brand.description %}" />
      <meta name="description" content="{% firstof page_description brand.description %}">
	{% endif %}
  {% endif %}

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{% firstof page_title brand.name %}" />
  <meta name="twitter:image" content="{{ brand.image_url }}" />
  <meta property="og:image" content="{{ brand.image_url }}">
  <meta property="og:url" content="{{ absolute_url }}">
  {% endblock %}
	{% block head %} {% endblock %}
	{% include "history.html" %}
</head>

<body>
	{% include "tracking.html" %}
	{% load cache %} {% cache 1 sidebar %}
	<header>
		<a href="" class="help rhombutton" id="help-button"></a>
	</header>
	{% endcache %} {% block body %} {% endblock %}
	<div id="layers" class="hidden">
		<article id="about">
			<h2>What's this thing?</h2>
			<p>This reader was born while developing Guya.moe, the website to host Kaguya. After a while we added a lot of useful features, and now we branched it into a separate image-proxying service. We don't host anything, this is just a web image viewer that can parse other websites.</p>
			<h2>What are the sites you can proxy?</h2>
			<p>Currently it supports imgur.com and custom appropriately-formatted JSON hosted on GitHub Gists. This is an advanced feature and will be explained in detail below.</p>
			<h2>Are you the next Mangadex?</h2>
			<p>No, but we might become a web version Tachiyomi. This is not a guarantee, though.</p>
			<h2>Add [X]!</h2>
			<p>For now we wont accept feature requests because we have a pretty straightforward roadmap that we need to realize first. Keep an eye on us, something new might pop up soon.</p>
			<h2>What will happen to Guya?</h2>
			<p>Nothing. We're still fans of Kaguya, so it will just stay there on Guya.moe and will continue utilizing our nice manga reader. We're just branching out the proxy stuff.</p>
		</article>
		<a href="" class="layers-close" id="layers-close"></a>
		<a href="" class="rhombutton rhombutton-close" id="close-button"></a>
	</div>
	<script>
		const closeModal = (e) => {
			e.preventDefault();
			document.getElementById("layers").classList.add("hidden");
			document.querySelector("body").style.overflow = "auto";
			document.getElementById("help-button").style.display = "";

		};
		document.getElementById("layers-close").addEventListener("click", closeModal);
		document.getElementById("close-button").addEventListener("click", closeModal);
		document.getElementById("help-button").addEventListener("click", (e) => {
			e.preventDefault();
			document.getElementById("layers").classList.remove("hidden");
			document.querySelector("body").style.overflow = "hidden";
			e.target.style.display = "none";
		});
	</script>
	<script>
		isiOSAux = (window.navigator.standalone == true);
		if(isiOSAux) {
			var aList = document.getElementsByTagName("a");
			for(var i=0; i<aList.length; i++) {
				if(!aList[i].onclick
				&& aList[i].href.length > 0
				&& aList[i].href.indexOf(document.location.origin) > -1) {
					aList[i].onclick = function() {
						window.location = this.getAttribute("href");
						return false;
					}
				}
			}
		}
	</script>
</body>
</html>
