<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZX1TZQKKPL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZX1TZQKKPL');
</script>
{% if metrics_endpoint and proxy_base_path %}
<script>
  const science = () => {
    const scienceEndpoint = "{{ metrics_endpoint }}";
    const proxyBasePath = "{{ proxy_base_path }}";
    const pathFragments = location.pathname.split("/");
    const proxyMetadata = pathFragments[pathFragments.findIndex(e => e === proxyBasePath) + 1];

    if (!proxyMetadata) {
      return;
    }

    fetch(`${scienceEndpoint}`, {
      method: "POST",
      mode: "no-cors",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        "p": "cubari.moe",
        "m": proxyMetadata,
      })
    })
  };

  window.science = science;

  // Science once when the page is loaded
  science();
</script>
{% endif %}