<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZX1TZQKKPL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZX1TZQKKPL');
</script>
{% if metrics_endpoint and proxy_base_path %}
<script>
  const science = (measurePerformance = false) => {
    const scienceEndpoint = "{{ metrics_endpoint }}";
    const proxyBasePath = "{{ proxy_base_path }}";
    const pathFragments = location.pathname.split("/");
    const proxyMetadata = pathFragments[pathFragments.findIndex(e => e === proxyBasePath) + 1];

    if (!proxyMetadata) {
      return;
    }

    const sciencePayload = {
      "p": "cubari.moe",
      "m": proxyMetadata,
    };

    if (measurePerformance) {
      const navPerf = performance.getEntriesByType("navigation");
      if (navPerf.length === 1) {
        sciencePayload["t"] = navPerf[0].duration;
      }
    }

    fetch(`${scienceEndpoint}`, {
      method: "POST",
      mode: "no-cors",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(sciencePayload),
    });
  };

  window.science = science;

  // Science once when the page is loaded
  window.addEventListener("load", () => {
    // We need to add this to the event loop so that the load
    // event can be properly hydrated in the performance object
    setTimeout(() => {
      science(true);
    }, 0);
  });
</script>
{% endif %}